@using SmartComponents

@{
    string? text; 
}


<h1>JonDJones - .NET 9 Sample Site</h1>

<div>
    <div class="row">
        <div class="mt-4">
            <h2>.NET 9</h2>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="~/LINQ">LINQ</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="mt-4">
            <h2>Smart Components</h2>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="~/SmartPaste">Smart Paste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="~/SmartComboBox">Smart ComboBox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="~/SmartTextArea">Smart TextArea</a>
                </li>
            </ul>
        </div>
    </div>
</dl>
</div>